/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.menu-small .bm-burger-button {
  top: 15px;
  left: 12px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background-color: #ddd;
  border-radius: 2px;
}

.news .bm-burger-button::after {
  background-color: rgba(0, 255, 0, .8);
  border: 1px solid rgba(50, 255, 50, .8);
  border-radius: 50%;
  width: .7em;
  height: .7em;
  display: block;
  position: absolute;
  top: -8px;
  right: -5px;
  content: "!";
  color: rgba(255,255,0,.8);
  line-height: .5em;
  font-weight: bold;
  font-size: 1em;
  transform: rotate(15deg);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 36px !important;
  width: 36px !important;
}

.bm-cross-button > span {
  position: relative !important;
  top: 1px !important;
  right: 1px !important;
}

.bm-cross {
  height: 34px !important;
  width: 5px !important;
  border-radius: 3px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0;
  text-align: left;
  font-size: x-large;
}

/* Individual item */
a.bm-item {
  display: block;
  padding: .5em;
}
a.bm-item:link,
a.bm-item:visited {
  color: #b8b7ad;
}
a.bm-item.active {
  outline-style: dotted;
  outline-width: 1px;
}


/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
