body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Fix calendar position for small device (mobile first) */
.react-date-picker__calendar.react-date-picker__calendar--open {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: fixed !important;
}

@media only screen and (min-width: 768px) {
  .react-date-picker__calendar.react-date-picker__calendar--open {
    top: 100% !important;
    left: 0 !important;
    transform: none !important;
    position: absolute !important;
  }
}
